Repository sminez/penrose, pull requests merged in 2021-12, with the labels that each got.

#203 Allow string with spaces as dmenu prompt.
  src/contrib/extensions/dmenu.rs
Labels: contrib

#196 Issue 191
  src/core/manager/mod.rs
Labels: core

#199 fixed bar update workspace of selected screen only
  src/draw/widget/bar.rs
Labels: draw

#197 Only focus client if it was not previously focused
  src/core/manager/mod.rs
Labels: core

#201 Issue #200
  crates/penrose_keysyms/src/lib.rs
Labels: crates
