Repository sminez/penrose, pull requests merged in 2021-02, with the labels that each got.

#133 Added example for working status bar in docs
  src/draw/bar.rs
Labels: core

#141 ClientMessage: Use array instead of Vec
  src/core/xconnection/event.rs
Labels: core

#148 Added common XF86 keybinds
  crates/penrose_keysyms/src/lib.rs
Labels: crates

#150 Support arbitrary x11rb connections
  Cargo.toml
  src/x11rb/mod.rs
Labels: x11rb
