Repository sminez/penrose, pull requests merged in 2021-01, with the labels that each got.

#100 Make WindowManager generic over XConn
  .github/workflows/rust.yml
  Makefile
  examples/draw/main.rs
  examples/dynamic_workspaces/main.rs
  examples/minimal/main.rs
  examples/simple_config_with_hooks/main.rs
  src/contrib/actions.rs
  src/contrib/extensions/scratchpad.rs
  src/contrib/hooks.rs
  src/core/bindings.rs
  src/core/hooks.rs
  src/core/layout.rs
  src/core/macros.rs
  src/core/manager/mod.rs
  src/core/manager/util.rs
  src/core/workspace.rs
  src/core/xconnection.rs
  src/draw/bar/mod.rs
  src/draw/bar/statusbar.rs
  src/draw/bar/widgets.rs
  src/xcb/api.rs
  src/xcb/draw.rs
  src/xcb/mod.rs
  src/xcb/xconn.rs
  tests/common/mod.rs
  tests/hook_tests.rs
  tests/serialization_tests.rs
Labels: contrib, core, xcb

#103 Initial work on allowing Results in all user code
  crates/penrose_menu/src/lib.rs
  examples/draw/main.rs
  examples/dynamic_workspaces/main.rs
  examples/minimal/main.rs
  examples/simple_config_with_hooks/main.rs
  src/contrib/actions.rs
  src/contrib/extensions/scratchpad.rs
  src/contrib/hooks.rs
  src/core/bindings.rs
  src/core/helpers.rs
  src/core/hooks.rs
  src/core/macros.rs
  src/core/manager/mod.rs
  src/core/mod.rs
  src/core/xconnection.rs
  src/draw/bar.rs
  src/draw/mod.rs
  src/draw/widget/bar.rs
  src/lib.rs
  src/xcb/api.rs
  src/xcb/draw.rs
  src/xcb/mod.rs
  src/xcb/xconn.rs
  tests/common/mod.rs
  tests/hook_tests.rs
  tests/serialization_tests.rs
Labels: contrib, core, xcb

#114 Make XConn::atom_prop() work for arbitrary atoms
  src/xcb/api.rs
  src/xcb/mod.rs
  src/xcb/xconn.rs
Labels: xcb

#118 issue #115 checking randr version on XcbApi init
  src/xcb/api.rs
Labels: xcb

#123 issue #108 using Color instead of u32 for config colors
  examples/simple_config_with_hooks/main.rs
  src/core/config.rs
  src/core/macros.rs
  src/core/xconnection.rs
  src/draw/mod.rs
  src/lib.rs
  src/xcb/xconn.rs
Labels: core, xcb
