Repository sminez/penrose, pull requests merged in 2021-03, with the labels that each got.

#156 issue-143 reworking ClientData to support all 3 data formats
  src/core/manager/event.rs
  src/core/xconnection/event.rs
  src/core/xconnection/mod.rs
  src/x11rb/event.rs
  src/x11rb/xconn.rs
  src/xcb/api.rs
  src/xcb/mod.rs
Labels: core, x11rb, xcb

#159 Add some more keysyms
  crates/penrose_keysyms/src/lib.rs
Labels: crates

#161 Permit doing keybindings without modifiers
  crates/penrose_proc/src/validate_bindings.rs
  crates/penrose_proc/tests/runner.rs
  crates/penrose_proc/tests/validate_bindings/invalid-keys-are-rejected.rs
  crates/penrose_proc/tests/validate_bindings/invalid-keys-are-rejected.stderr
  crates/penrose_proc/tests/validate_bindings/invalid-keys-with-modifiers-are-rejected.rs
  crates/penrose_proc/tests/validate_bindings/invalid-keys-with-modifiers-are-rejected.stderr
  crates/penrose_proc/tests/validate_bindings/invalid-modifiers-are-rejected.stderr
  crates/penrose_proc/tests/validate_bindings/keys-cannot-be-used-as-modifiers.rs
  crates/penrose_proc/tests/validate_bindings/keys-cannot-be-used-as-modifiers.stderr
  crates/penrose_proc/tests/validate_bindings/templates-work-with-raw-bindings.rs
  crates/penrose_proc/tests/validate_bindings/valid-bindings-are-accepted.rs
  crates/penrose_proc/tests/validate_bindings/valid-template-bindings-are-accepted.rs
  src/core/macros.rs
Labels: core, crates
